body {
    font-family: 'Tahoma', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4ebf1;
    color: #12212B;
}

header {
    background-color: #29527A;
    color: rgb(255, 255, 255);
    padding: 3em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    padding: 2em;
    margin: 0.1em 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.service-image, .team-photo {
    max-width: 100%;
    height: auto;
}

.logos-container {
    text-align: center;
}

.college-logo {
    display: inline-block;
    margin: 0.5em;
    width: 150px; /* Adjust the size as needed */
    height: auto;
}

.team-container, .announcements-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.team-member, .announcement {
    text-align:center;
    flex: 1 1 30%;
    margin: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.8em;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.announcement{
    text-align:left;
}

.team-member:hover, .announcement:hover {
    transform: scale(1.02);
}

.team-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #ffffff;
    color: white;
}

.cta-button {
    background-color: #55aff0;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.cta-button:hover {
    background-color: #a3d7fc;
}


.recent-announcements {
    list-style-type: none;
    padding: 0;
}

.recent-announcements li {
    margin-bottom: 1em;
}

.recent-announcements a {
    text-decoration: none;
    color: #12212B;
}

.recent-announcements .date {
    font-size: 0.9em;
    color: #666;
}

.announcement-content p {
    margin-bottom: 1em;
}